[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
requests = "*"
psycopg2-binary = "*"
pydantic = "*"
pydantic-settings = "*"
dj-database-url = "*"
django-extensions = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-django = "*"
django-extensions = "*"
factory-boy = "*"
pytest-factoryboy = "*"

[requires]
python_version = "3.11"
